
.pdf-container {
  width: 100%;
  height: 700px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.doc-content{
  margin-top:100px;
  height:100%;
}

.chat-column{
  width: 180px;
  float: right;
  background: #aafed6;
}
