<!-- Le modèle de composant d'application est le modèle de composant racine de l'application. Il contient la barre de
navigation principale qui s'affiche uniquement pour les utilisateurs authentifiés, une directive router-outlet pour
afficher le contenu de chaque vue en fonction de l'itinéraire actuel et un composant d'alerte pour l'affichage des
messages d'alerte de n'importe où dans l'application. -->


<!-- nav -->
<app-menu></app-menu>


<!-- main app container -->

<div class="jumbotron" style="background-color: lightblue;">
    <div class="container">
                <alert></alert>
                <router-outlet></router-outlet>
    </div>

</div>

